<div class="main">
    <div class="players" *ngFor="let player of players; let indexOfelement=index;">
        <div class="player">
            <span>Player {{ indexOfelement }}<br/></span>
            <h3> <br/> Best Combination: {{ CheckCombinations(indexOfelement).comboName }}</h3>
            <p class="hand">
                <span>Hand: &nbsp;&nbsp;</span>
                <span *ngFor="let card of player.playerCards">{{ card.type }}{{ card.color }}&nbsp;</span>
            </p>        
        </div>
    </div>
    <h3>Board</h3>
    <div class="board">
        <p>
            <span *ngFor="let card of board.cardsOnBoard"> {{ card.type }}{{ card.color }} </span>
        </p>
    </div>
</div>